


header {
    text-align: center;
    font-family:'Trade Winds', cursive;
    color: White;
    font-size: 40px;
}

body {
    background-color: black;
}

ul {
    font-family: 'Trade Winds', cursive;
    color: white;
}