


header {
    text-align: center;
    font-family:'Trade Winds', cursive;
    color: White;
    font-size: 50px;
    position: fixed;
}

body {
    background-color: black;
}

ul {
    font-family: 'Trade Winds', cursive;
    color: white;
}