* {
    display: inline-block;
    box-sizing: border-box;
}


header {
    text-align: center;
    padding-left: 500px;
    font-family:'Trade Winds', cursive;
    color: White;
    font-size: 50px;
    position: fixed;
    text-shadow: 5px -4px 2px rgb(216, 21, 21);
    
}

body {
    background-color: black;
    display: inline-block;
    background-image: url("https://www.filmgarb.com/uploads/diedrich_bader-film-rex-napoleon_dynamite-bottoms-rex_kwon_do_pants.jpg");
}


.rex {
    max-width: 2000px;
    display: inline-block;
}

.sidebar {
    border: white 2px solid;
    margin-left: 600px;
    width: 500px;
    font-size: 25px;
    display: inline-block;
    margin-top: 500px;
    -webkit-box-shadow: 5px 5px 15px 5px #d41616; 
    box-shadow: 5px 5px 15px 5px #d41616;
    text-shadow: 4px -4px 4px rgb(14, 14, 238);
}


li {
    font-family: 'Trade Winds', cursive;
    color: white;
    display: flex;
}

li:hover {
    color:rgba(155, 37, 37);
    cursor: pointer;
}

li:active {
    transform: scale(.9,.9);
    cursor: pointer;
}


footer {
    max-height: 20px;
    justify-content: center;
    margin-left: 500px;
    margin-top: 100px;
    display: inline-block;
}

button {
    align-items: center;
    border-radius: 25px;
    font-family: 'Trade Winds', cursive;
    justify-content: space-between;
    margin: 15px;
    background-color:#3f509c ;
    color: white;
    text-shadow: 5px -4px 2px rgb(216, 21, 21);
}

